{{ define "main" }}
<header class="page-title">
	<h2>CV</h2>
</header>
<div class="cv-section-wrapper">
	{% block content %}
	<article></article>
	{% endblock %}
	<section class="cv-section experience">
		<header>
			<h3>Experience</h3>
		</header>
		<nav>
			<ul>
				{% for post in collections.experience %}
				<li>
					<h1>
						<a href="/cv/experience/{{ post.slug }}"
							hx-boost="true"
							hx-push-url="true"
							hx-select="article"
							hx-swap="outerHTML focus-scroll:false"
							hx-target="article"
							onclick="cvExpNavSetActive(this)">{{ post.title }}</a>
					</h1>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
	<section class="cv-section education">
		<header>
			<h3>Education</h3>
		</header>
		<nav>
			<ul>
				{% for school in collections.education %}
				<li>
					<h1>
						<a href="/cv/education/{{ school.slug }}"
							hx-boost="true"
							hx-push-url="true"
							hx-select="article"
							hx-swap="outerHTML focus-scroll:false"
							hx-target="article"
							onclick="cvExpNavSetActive(this)">{{ school.title }}
							<br>{{ school.location }} - {{ school.endYear }}</a>
					</h1>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
	<section class="cv-section skills">
		<header>
			<h3>Skills</h3>
		</header>
		<nav>
			<ul>
				{% for post in collections.skills %}
				<li>
					<h1>
						<a href="/cv/skills/{{ post.slug }}"
							hx-boost="true"
							hx-push-url="true"
							hx-select="article"
							hx-swap="outerHTML focus-scroll:false"
							hx-target="article"
							onclick="cvExpNavSetActive(this)">{{ post.title }}</a>
					</h1>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
	<section class="cv-section tools">
		<header>
			<h3>Tools</h3>
		</header>
		<nav>
			<ul>
				{% for post in collections.tools %}
				<li>
					<h1>
						<a href="/cv/tools/{{ post.slug }}"
							hx-boost="true"
							hx-push-url="true"
							hx-select="article"
							hx-swap="outerHTML focus-scroll:false"
							hx-target="article"
							onclick="cvExpNavSetActive(this)">{{ post.title }}</a>
					</h1>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
</div>
