{{ define "main" }} {{ `<!-- dispatch/single.html -->` | safeHTML }}
<header class="page-title">
  <h2>Dispatches</h2>
  <a class="back-to" hx-boost="true" hx-push-url="true" href="/"
    ><< Back to Dispatches</a
  >
</header>
<section class="{{ .Type }}-wrapper">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <div class="content">{{ .Content }}</div>
    <footer>
      <a class="back-to" hx-boost="true" hx-push-url="true" href="/"
        ><< Back to Dispatches</a
      >
    </footer>
  </article>
  <aside class="article-meta">
    <section class="back-to">
      <a hx-boost="true" hx-push-url="true" href="/"> << Back to Dispatches </a>
    </section>
    <section>
      <header>
        <h2>Published</h2>
      </header>
      <date>{{ .Date | time.Format ":date_long" }}</date>
    </section>
    {{ if gt .Lastmod .Date }}
    <section>
      <header>
        <h2>Last updated</h2>
      </header>
      <date>{{ .Lastmod | time.Format ":date_long" }}</date>
    </section>
    {{ end }}
    <section>
      <header>
        <h3>Tags</h3>
      </header>
      {{ partial "dispatch-tags" .}}
    </section>
  </aside>
</section>
<aside class="page-meta">
  <section class="taxonomy-links">
    <header>
      <h3>By Category</h3>
    </header>
    {{ partial "site-categories" . }}
  </section>
</aside>
{{ end }}
