    {% include "partials/head.njk" %}
		{% include "partials/base-styles.njk" %}
		{% include "partials/cv-styles.njk" %}
		{% include "partials/post-styles.njk" %}
    {% include "partials/head-scripts.njk" %}

