<header>
	<h1 class="site-title"><a href="/">{{ title }}</a></h1>
	<nav>
		<ul>
			<li><a href="/posts">posts</a></li>
			<li><a href="/cv">CV</a></li>
			<li><a href="/about">about</a></li>
		</ul>
	</nav>
<header>
