.cv-section {
	display: grid;
	gap: 1em 3em;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: repeat(4, 6em);
	margin-bottom: 6em;
}

.cv-section.skills nav,
.cv-section.skills ul {
	grid-row: span 7;
}

.cv-section.tools nav,
.cv-section.tools ul {
	grid-row: span 9;
}

.cv-section header {
	grid-column: span 3;
	grid-row: span 1;
}

.cv-section nav,
.cv-section ul {
	display: grid;
	gap: inherit;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	list-style-type: none;
	margin: 0;
	padding: 0;
	grid-column: span 3;
	grid-row: span 3;
}

.cv-section ul li {
	grid-column: span 1;
	grid-row: span 1;
}

.cv-section ul li h1 {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
}

@media (min-width: 1280px) {
	.cv-section ul li h1 {
		font-size: 1.2em;
		padding: 0;
	}
}

.cv-section ul li a {
	color: var(--text-color);
	text-decoration: none;
}

@media (min-width: 1280px) {
	.cv-section-wrapper {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-column: span 13;
		grid-row: 3 / span 13;
	}

	.cv-section-wrapper article:not(:empty) {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-column: 5 / span 8;
		grid-row: 1 / span 12;
	}

	.cv-section {
		display: grid;
		gap: inherit;
		grid-column-end: span 3;
		grid-column-start: 2;
		grid-row-end: span 13;
		grid-row-start: 1;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		margin: 0;
		position: relative;
		opacity: 100%;
	}

	.cv-section header {
		display: grid;
		grid-column: span 3;
		grid-row: 1 / span 1;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}

	.cv-section header h3 {
		border-bottom: 1px solid black;
		grid-column: span 3;
	}

	.cv-section.education,
	.cv-section.experience {
		grid-row-end: span 4;
	}

	.cv-section.education {
		grid-row-start: 6;
	}

	.cv-section.skills {
		grid-column-start: 6;
	}
	 
	.cv-section.tools {
		grid-column-start: 10;
	}

	.cv-section nav,
	.cv-section ul {
		display: grid;
		gap: inherit;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		list-style-type: none;
		margin: 0;
		padding: 0;
		grid-column: span 3;
		grid-row: span 8;
	}

	.cv-section ul li {
		grid-column: span 1;
		grid-row: span 1;
	}

	.cv-section ul li:nth-child(n+4):nth-child(-n+6) {
		grid-row-start: 2;
	}

	.cv-section.education nav,
	.cv-section.education ul {
		grid-row: span 1;
	}

	.cv-section.education ul li {
		grid-column: span 3;
	}

	/* active section layout adjustments */
	body.cv.experience .cv-section.education,
	body.cv.experience .cv-section.experience {
		grid-column: 2 / span 3;
	}

	/* active section layout adjustments */
	body.cv.experience .cv-section.skills,
	body.cv.experience .cv-section.tools {
		grid-column: 13 / span 1;
		opacity: 0;
	}
}

