body {
	/* this should get moved to a place where it can be animated between values on page change */
	background: rgba(100, 149, 237, 0.75); /* cornflower blue */
	padding: 1em 4em;
	margin: 0;
}

body > * {
	margin: 0;
	padding: 0;
}

main {
	margin: 0;
	padding: 0;
}

@media (min-width: 1280px) {
	body {
		display: grid;
		gap: 1em 3em;
		grid-template-columns: repeat(14, 1fr);
		grid-template-rows: repeat(14, 3em);
		height: 100vh;
		padding: 0;
		width: calc(100vw);
	}

	main {
		display: grid;
		gap: 1em 3em;
		grid-column: span 14;
		grid-row: span 11;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}
}
