.post-wrapper {
	font-size: 2.2em;
}

.post-wrapper p {
	line-height: 1.5;
	margin: 0 0 1em 0;
}

.post-wrapper p img {
	max-width: 100%;
}

.post-wrapper date {
	display: block;
	font-size: 1.15em;
	margin: 0 0 .5em 0;
}

@media (min-width: 1280px) {
  .post-wrapper {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: span 13;
  }

  .post-wrapper {
		font-size: 1.4em;
    grid-row: 3 / span 13;
	}

  .post-wrapper article {
		grid-column: 1 / span 8;
		grid-row: 1 / span 10;
	}

	.post-wrapper article header {
	}

	.post-wrapper article header h1 {
		margin: 0;
	}

	.post-wrapper article header date {
	}

	.post-wrapper article .content {
	}

	.post-wrapper ~ aside {
		grid-column: 2 / span 3;
		grid-row: 3 / span 4;
	}
}
