<!doctype html>
<html class="no-js" lang="">
  <head>
    {{ partial "head" }}
		{{ partial "css" }}
		{{ with .OutputFormats.Get "RSS" -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
		{{- end }}
    {{ partial "head-scripts" }}
  </head>
	<body{{ with .Params.Type }} class="{{ . }}"{{ end }}>
    {{ partial "site-header" }}
		<main>
			{{ block "main" . }}{{ end }}
		</main>
    {{ partial "footer" }}
		<!-- <pre>{{/* debug.Dump .Params */}}</pre> -->
  </body>
</html>

