{{ define "main" }} {{ `<!-- _default/home.html -->` | safeHTML }}
<header class="page-title">
  <h2>{{ .Type | title }}</h2>
  <a class="rss-feed" href="/index.xml" aria-label="Link to RSS feed"
    >{{ partial "icon-feed" }}</a
  >
</header>
{{ $pages := where site.RegularPages "Type" "dispatch" }}
<ul class="{{ .Page.Params.type }}-list">
  {{ $paginator := .Paginate $pages }} {{ range $paginator.Pages }} {{ partial
  "dispatch-list-item" . }} {{ end }}
</ul>
<aside>
  <section class="taxonomy-links">
    <header>
      <h3>By Category</h3>
    </header>
    {{ partial "site-categories" . }}
  </section>
  <section class="taxonomy-links">
    <header>
      <h3>By Tag</h3>
    </header>
    {{ partial "site-tags" . }}
  </section>
</aside>
{{ end }}
