{{ define "main" }} {{ `<!-- _default/single.html -->` | safeHTML }}
<header class="page-title">
  <h2>About Me</h2>
</header>
<section class="{{ .Type }}-wrapper">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    {{ $path := .Params.image }}
    <figure>
      <img
        class="logo"
        src="{{ with .Resources.Get $path }}{{ .RelPermalink }}{{ end }}"
        alt="{{ .Params.alt }}"
      />
    </figure>
    <div class="content">{{ .Content }}</div>
    <footer></footer>
  </article>
</section>

<aside>
  <section class="personal-links">
    <header>
      <h3>Links</h3>
    </header>
    <ul>
      <li>
        <a href="https://github.com/dehuszar"
          >{{ partial "icon-github-mark" }}</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/dehuszar/"
          >{{ partial "icon-linkedin" }}</a
        >
      </li>
    </ul>
  </section>
</aside>
{{ end }}
