{{ define "main" }} {{ `<!-- _default/home.html -->` | safeHTML }}
<header class="page-title">
  <h2>{{ .Type | title }}</h2>
</header>
{{ $pages := where site.RegularPages "Type" "dispatch" }}
<ul class="dispatches-list">
  {{ $paginator := .Paginate $pages }} {{ range where $paginator.Pages
  ".Params.categories" "intersect" (slice .Data.Term) }} {{ partial
  "dispatch-list-item" . }} {{ end }} {{ $paginator := .Paginate $pages }} {{
  range where $paginator.Pages ".Params.tags" "intersect" (slice .Data.Term) }}
  {{ partial "dispatch-list-item" . }} {{ end }}
</ul>
<aside>
  <section>
    <header>
      <h3>By Category</h3>
    </header>
    {{ partial "site-categories" . }}
  </section>
  <section>
    <header>
      <h3>By Tag</h3>
    </header>
    {{ partial "site-tags" . }}
  </section>
</aside>
{{ end }}
