.cv-related-links {
  display: flex;
  flex-flow: column;
  grid-column: 6 / span 3;
  grid-row: 9 / span 4; /* start at row 1 alongside the figure */
  justify-content: flex-end;
  margin: 3em 0 0 0;

  > article {
    header {
      border-bottom: 1px solid;
    }

    ul {
      display: flex;
      flex-flow: wrap;
      justify-content: start;
      margin: 1em 0 0;
      padding: 0;

      li {
        font-size: 1em;
        list-style-type: none;
        margin: 0;
        padding: 0 5px 0 0;

        a:after {
          content: ", ";
        }

        &:last-child {
          padding: 0;
          a:after {
            content: "";
          }
        }
      }
    }

    & + article {
      margin-top: 1em;
    }
  }
}
