.dispatches-list {
  border-top: var(--border-width) solid var(--dispatch-charcoal-foreground);
  margin: 0;
  overflow-y: scroll;
  padding: var(--scrollable-container-padding);
}

.dispatches-list,
.dispatches-list:hover {
  scrollbar-color: var(--dispatch-charcoal-foreground) transparent;
}

.dispatches-list li {
  list-style: none;
  padding: 2em 0 1em;
}

.dispatches-list li:first-of-type {
  padding-top: 0;
}

.dispatches-list li + li {
  border-top: var(--border-width) solid var(--dispatch-charcoal-foreground);
  margin-top: 1em;
}

.dispatches-list li img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.dispatches-list li date {
  display: block;
  font-size: 1.1rem;
  margin: 0 0 0.5em 0;
}

.dispatches-list li date .updated {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 0 0.5rem;
}

@media (min-width: 1280px) {
  .dispatches-list li date {
    font-size: 1.2rem;
  }
}

.dispatches-list h3 {
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

.dispatches-list p {
  font-size: var(--text-size-paragraph-mobile);
  line-height: 1.6;
}

/* Observation styling */
.dispatches-list .observation .summary {
  font-size: 3em;
  font-style: italic;
  grid-column: 1 / span 8;
  grid-row: 1 / span 3;
  margin: 0;
  quotes: "“" "”" "‘" "’";
  text-align: right;
}

.dispatches-list .observation .summary::before {
  content: open-quote;
}

.dispatches-list .observation .summary::after {
  content: close-quote;
}

@supports (hanging-punctuation: first) {
  .dispatches-list .observation .summary {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

@media (min-width: 1280px) {
  .dispatches-list {
    border-top: none;
    grid-column: 5 / span 8;
    grid-row: 3 / span 15;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-gap: subgrid;
    padding-top: 0;
  }

  .dispatches-list li,
  .dispatches-list li a {
    grid-column: 1 / span 8;
    grid-row: 1 / span 4;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(4, 3em);
    grid-gap: 1em 3em;
    display: grid;
  }

  .dispatches-list li + li a {
    grid-row: 1 / span 4;
  }

  .dispatches-list li figure {
    border-radius: 5%/10%;
    grid-column: 6 / span 3;
    grid-row: 1 / span 4;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .dispatches-list li h3 {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    line-height: 2;
    margin: 0;
    font-size: 2em;
  }

  .dispatches-list li date {
    grid-column: 1 / span 5;
    grid-row: 4 / span 1;
  }

  .dispatches-list li p {
    font-size: 1.4em;
    grid-column: 1 / span 5;
    grid-row: 2 / span 2;
    margin: 0;
  }
}
