.dispatch-wrapper {
  font-size: var(--text-size-paragraph);
}

.dispatch-wrapper p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}

.dispatch-wrapper p img {
  max-width: 100%;
}

.dispatch-wrapper .back-to,
.dispatch-wrapper date {
  display: block;
  font-size: var(--meta-font-size);
  line-height: var(--meta-line-height);
  margin: 0 0 0.5em 0;
}

.dispatch-wrapper article .content {
  overflow-y: scroll;
  padding: var(--scrollable-container-padding);
}

.dispatch-wrapper .article-meta,
.page-meta {
  padding-top: var(--single-column-padding-top);
}

.dispatch-wrapper article header .back-to,
.dispatch-wrapper .article-meta .back-to {
  display: none;
}

@media (max-width: 1279px) {
  .dispatch-wrapper .article-meta header h2,
  .dispatch-wrapper .article-meta header h3,
  .page-meta header h3 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1280px) {
  .dispatch-wrapper {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: span 13;
  }

  .dispatch-wrapper {
    font-size: 1.4em;
    grid-row: 3 / span 13;
  }

  .dispatch-wrapper article header,
  .dispatch-wrapper article:not(:empty) {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .dispatch-wrapper article {
    grid-column: 1 / span 5;
    grid-row: 1 / span 12;
  }

  .dispatch-wrapper article header {
    grid-column: inherit;
    grid-row: 1 / span 1;
  }

  .dispatch-wrapper article header h1 {
    grid-column: inherit;
    grid-row: 1 / span 1;
    line-height: 1.2;
    margin: 0;
  }

  .dispatch-wrapper article header date {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .dispatch-wrapper article header .back-to {
    display: block;
    grid-column: 3 / span 3;
    grid-row: 2 / span 1;
    text-align: right;
  }

  .dispatch-wrapper date,
  .dispatch-wrapper .back-to {
    font-size: 1.2rem;
  }

  .dispatch-wrapper article .content {
    grid-row: 2 / span 12;
    grid-column: inherit;
  }

  .dispatch-wrapper ~ aside {
    grid-column: 2 / span 3;
    grid-row: 3 / span 4;
  }

  .dispatch-wrapper article footer .back-to {
    display: none;
  }

  .dispatch-wrapper .article-meta {
    display: grid;
    grid-column: 6 / span 3;
    grid-row: span 10;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .dispatch-wrapper .article-meta,
  .page-meta {
    padding-top: 0;
  }

  .dispatch-wrapper .article-meta header {
    font-size: 1rem;
  }

  .dispatch-wrapper .article-meta section {
    grid-column: span 3;
    grid-row: span 1;
  }

  .dispatch-wrapper .article-meta section + section {
    grid-row: span 2;
  }

  .dispatch-wrapper .article-meta .tags {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .dispatch-wrapper .article-meta .tags li {
    display: inline;
    font-size: 1.2rem;
    line-height: var(--meta-line-height);
  }

  .dispatch-wrapper .article-meta .tags li + li::before {
    content: ", ";
  }
}
