img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem 0;
}

@media (min-width: 1280px) {
  img {
    padding: 0;
  }
}

img.photo {
  opacity: 0.95;
}

.cv img.photo {
  filter: drop-shadow(0 0 0.25rem var(--cv-blue-foreground));
}

img.photo.round-tl-br {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

figure {
  margin: 0;
  padding: 1em 0;
}

.dispatch svg {
  fill: var(--dispatch-charcoal-foreground);
}

.cv svg {
  fill: var(--cv-blue-foreground);
}

.page svg {
  fill: var(--page-green-foreground);
}
