:root {
  --primary-charcoal: 33, 33, 33; /* #212121 */
  --dispatch-charcoal-foreground: rgba(var(--primary-charcoal), 1);
  --dispatch-charcoal-background: rgba(var(--primary-charcoal), 0.15);
  --dispatch-orange-background: rgba(187, 82, 0, 0.7); /* #ac6b38 */
  --dispatch-orange-foreground: rgba(138, 61, 0, 1); /* #8a3d00 */
  --page-green-background: rgba(78, 157, 123, 0.75); /* #4e9d7b */
  --page-green-foreground: rgba(0, 58, 33, 1); /* #003a21 */
  --cv-blue-background: rgba(100, 149, 237, 0.75); /* #6495ed */
  --cv-blue-background-rgb: 100, 149, 237; /* #6495ed */
  --cv-blue-foreground: rgba(34, 62, 113, 1); /* #223E71 */
  --text-color: var(--primary-charcoal);
  --text-size-paragraph: 2.2rem;
  --sans-serif-font: "Lato", sans-serif;
  --serif-font: "Lora", serif;
  --meta-font-size: 2rem;
  --meta-line-height: 2.4em;
  --scrollable-container-padding: 1rem 15px 0 0;
  --single-column-padding-top: 2rem;
  --border-width: 2px;
  --viewport-width-desktop: 1280px;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  /* this should get moved to a place where it can be animated between values on page change */
  /* background: rgba(100, 149, 237, 0.75); /* cv page - #8aaff1; */ /* cornflower blue */
  /* Other background colors for each main page 
 * #F26B02 - rgba(242, 107, 2, 0.75) - orange 
 * #F22502 - rgba(242, 37, 2, 0.75) red
 * #02F28A - rgba(2, 242, 138, 0.75) - lime green
 * #369D70 - rgba(54, 157, 112, 62, 0.75) - army green 
 * #3B733B - rgba(59, 115, 59, 0.75) forest green */
  padding: 1em 4em;
  margin: 0;
  transition:
    background 0.5s,
    color 0.5s;
}

body > * {
  margin: 0;
  padding: 0;
}

body.dispatch,
body.dispatches {
  background: var(--dispatch-charcoal-background);
  border-color: var(--dispatch-charcoal-foreground);
}

body.cv {
  background: var(--cv-blue-background);
  border-color: var(--cv-blue-foreground);
}

body.page {
  background: var(--page-green-background);
  border-color: var(--page-green-foreground);
}

body.dispatch header h3 {
}

body.cv header h3 {
}

body.page header h3 {
}

main {
  margin: 0;
  padding: 1rem 0 2rem 0;
}

main [class$="-wrapper"] {
  padding-top: var(--single-column-padding-top);
}

@media (min-width: 1280px) {
  body {
    display: grid;
    gap: 1em 3em;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    grid-template-rows: repeat(18, 3em);
    height: 100vh;
    padding: 0;
    width: calc(100vw);
  }

  main {
    display: grid;
    gap: 1em 3em;
    grid-column: span 13;
    grid-row: 4 / span 14;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  main [class$="-wrapper"] {
    padding-top: 0;
  }
}

.taxonomy-links + .taxonomy-links {
  margin-top: 4rem;
}

.taxonomy-links ul {
  list-style: none;
  padding: 0;
}

.taxonomy-links li {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 2rem;
}

.taxonomy-links li + li {
  margin-top: 0.5rem;
}

@media (min-width: 1280px) {
  .taxonomy-links li {
    font-size: 1.2rem;
  }
}

/* Sidebars */
@media (min-width: 1280px) {
  main > aside {
    grid-column: 2 / span 3;
    grid-row: 3 / span 11;
  }
}

/* Utilities */

pre.debug {
  bottom: 0;
  font-size: 0.75em;
  font-weight: bold;
  position: fixed;
  visibility: hidden;
}
