<li class="{{ .Type }} {{ index .Page.Params.categories 0 }}">
  <a href="{{ .RelPermalink }}">
    <date>{{ .Date | time.Format ":date_long" }}</date>
    {{ $path := .Params.image }} {{ $image := .Resources.Get $path }} {{ if
    $image }}
    <figure>
      <img
        class="{{ $image.Params.class }}"
        src="{{ $image.RelPermalink }}"
        alt="{{ $image.Params.alt }}"
      />
    </figure>
    {{ end }} {{ if .Title }}
    <h3>{{ .Title }}</h3>
    {{ end }} {{ if eq (index .Page.Params.categories 0) "observation" }}
    <blockquote class="summary">{{ .Summary }}</blockquote>
    {{ else }}
    <p class="summary">{{ .Summary }}</p>
    {{ end }}
  </a>
</li>
