<li class="{{ .Type }} {{ index .Page.Params.categories 0 }}">
  <a href="{{ .RelPermalink }}">
    {{ if .Title }}
    <h3>{{ .Title }}</h3>
    {{ end }}
    <date
      >{{ .Date | time.Format ":date_long" }} {{ if gt .Lastmod .Date }}
      <span class="updated"
        >(Updated {{ .Lastmod | time.Format ":date_long" }})</span
      >{{ end }}
    </date>
    {{ if eq (index .Page.Params.categories 0) "observation" }}
    <blockquote class="summary">{{ .Summary }}</blockquote>
    {{ else }}
    <p class="summary">{{ .Summary }}</p>
    {{ end }} {{ $path := .Params.image }} {{ $image := .Resources.Get $path }}
    {{ if $image }}
    <figure>
      {{ with index .Params.resources 0}}
      <img
        class="{{ .params.class }}"
        src="{{ $image.RelPermalink }}"
        alt="{{ .params.alt }}"
        style="max-width: {{ .params.max_width }}; max-height: {{ .params.max_height }}; margin-top: {{ .params.margin_top }}; margin-left: {{ .params.margin_left }};"
      />
      {{ end }}
    </figure>
    {{ end }}
  </a>
</li>
