{% extends "posts.njk" %}
{% block content %}
<section class="post-wrapper">
	<article>
		<header>
			<h1>{{ title }}</h1>
			<date>{{ date }}</date>
		</header>
		<div class="content">{{ contents | safe }}</div>
		<footer>
			<a class="back-to"
				hx-boost="true"
				hx-push-url="true"
				href="/posts.html">Back to Posts</a>
		</footer>
	</article>
</section>
{% endblock %}
