<!doctype html>
<html class="no-js" lang="">

  <head>
    {% include "partials/head.njk" %}
  </head>

  <body class="{{ bodyClass }}">
    
    {% include "partials/header.njk" %}
    
    <main>
			{{ contents | safe }}
    </main>

    {% include "partials/footer.njk" %}
    
  </body>
  
</html>
