<!doctype html>
<html class="no-js" lang="">

  <head>
    {% include "partials/head.njk" %}
		<link rel="stylesheet" href="./css/cv.css" />
		<link rel="stylesheet" href="./css/nav.css" />
		<link rel="stylesheet" href="./css/headers.css" />
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="stylesheet" href="./css/cv-sections.css" />
    {% include "partials/head-scripts.njk" %}
  </head>

  <body class="{{ bodyClass }}">
    
    {% include "partials/site-header.njk" %}
    
    <main>
			{{ contents | safe }}
    </main>

    {% include "partials/footer.njk" %}
    
  </body>
  
</html>
