<!doctype html>
<html class="no-js" lang="">
  <head>
    {% include "partials/head.njk" %}
		{% include "partials/css.njk" %}
    {% include "partials/head-scripts.njk" %}
  </head>
  <body class="{{ bodyClass }}">
    {% include "partials/site-header.njk" %}
    <main>
			<header class="page-title">
				<h2>Posts</h2>
			</header>
			{% block content %}
			<ul class="post-list">
				{% for post in collections.posts %}
				<li class="post">
					<a href="/posts/{{ post.slug }}">
						<date>{{ post.date }}</date>
						<img class="{{ post.imageType }}" src="{{ post.imageSrc }}" alt="{{ post.imageAlt }}">
						<h3>{{ post.title }}</h3>
						<p>{{ post.summary }}</p>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endblock %}
			<aside>
				<header>
					<h3>Categories</h3>
			</aside>
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
